<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap-table/bootstrap-table.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap3-editable/css/bootstrap-editable.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrapValidator/bootstrapValidator.min.css}"/>
    <link th:href="@{/toastr/toastr.min.css}" rel="stylesheet"/>
    <link th:href="@{/sweetalert2/sweetalert2.css}"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>项目类型列表</title>
</head>
<body>

<div class="container">

    <div id="toolbar" class="btn-group">
        <button id="btn_add" type="button" class="btn btn-default" data-toggle="modal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
        </button>
        <button id="btn_edit" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改
        </button>
        <button id="btn_delete" type="button" class="btn btn-default" data-toggle="modal"
                data-target="#delConfirm_Model">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
        </button>
    </div>

    <table id="table" class="table"></table>

</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="add_edit_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="PTModalLabel">
                    项目类型
                </h4>
            </div>
            <form id="prdTypeForm" class="form-horizontal" method="post">
                <div class="modal-body">
                    <div class="form-group hidden">
                        <label class="col-sm-2 control-label">内码</label>
                        <div class="col-sm-10">
                            <input id="id" type="text" class="form-control" placeholder="请输入项目类型代码"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">编码</label>
                        <div class="col-sm-10">
                            <input id="number" name="v_number" type="text" class="form-control"
                                   placeholder="请输入项目类型代码"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-10">
                            <input id="name" name="v_name" type="text" class="form-control" placeholder="请输入项目类型名称"/>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id='prdTypeFormSubmit' type="submit" class="btn btn-primary">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/jquery-3.2.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/bootstrap-table/bootstrap-table.min.js}"></script>
<script th:src="@{/bootstrap-table/extensions/editable/bootstrap-table-editable.min.js}"></script>
<script th:src="@{/bootstrap3-editable/js/bootstrap-editable.js}"></script>
<script th:src="@{/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
<script th:src="@{/bootstrapValidator/bootstrapValidator.min.js}"/>
<script th:src="@{/toastr/toastr.min.js}"></script>
<script th:src="@{/sweetalert2/sweetalert2.all.min.js}"></script>
<script th:src="@{/js/common/formatDate.js}"></script>
<script type="text/javascript">
    toastr.options.positionClass = 'toast-bottom-center';

    $(function () {
        $('#table').bootstrapTable({
            method: "post",
            url: 'ptlistJson',
            toolbar: '#toolbar',
            striped: true,
            columns: [
                {checkbox: true},
                {field: 'id', title: 'ID'},
                {
                    field: 'number', title: '编号',
                    editable: {
                        type: 'text',
                        clear: false,
                        validate: function (value) { //字段验证
                            if (!$.trim(value)) {
                                return '不能为空';
                            }
                        }
                    }
                },
                {
                    field: 'name', title: '项目类型',
                    editable: {
                        type: 'text',
                        clear: false,
                        validate: function (value) { //字段验证
                            if (!$.trim(value)) {
                                return '不能为空';
                            }
                        }
                    }
                },
                {
                    field: 'createdate', title: '最后更新日期',
                    formatter: function (value, row, index) {
                        return new Date(value).Format("yyyy-MM-dd HH:mm:ss");
                    }
                }
            ],
            idField: 'id',
            onEditableHidden: function (field, row, $el, reason) {
                if (reason === 'save') {
                    var $td = $el.closest('tr').children();
                    $td.eq(-1).html(new Date().Format("yyyy-MM-dd HH:mm:ss"));
                    //TODO
                } else if (reason === 'nochange') {
                    // $el.closest('tr').next().find('.editable').editable('show');
                    //TODO
                }
            }, onEditableSave: function (field, row, oldValue, $el) {
                $('#table').bootstrapTable('resetView');
                $.ajax({
                    type: "post",
                    url: "updatePt",
                    data: JSON.stringify(row),
                    dataType: 'JSON',
                    contentType: 'application/json;charset=UTF-8',
                    success: function (data, status) {
                        if (status == "success") {
                            toastr.success('提交数据成功');
                        }
                    }, error: function () {
                        toastr.error('保存失败');
                    }, complete: function () {

                    }
                });
            }
        });

        $('#table').bootstrapTable('hideColumn', 'id');

        $('#table').on('click', 'td:has(.editable)', function (e) {
            //e.preventDefault();
            e.stopPropagation(); // 阻止事件的冒泡行为
            $(this).find('.editable').editable('show'); // 打开被点击单元格的编辑状态
        });

        $('#btn_add').click(function (e) {
            $('#id').val(null);
            $('#number').val(null);
            $('#name').val(null);
            $("#add_edit_Modal").modal('show');
        });

        $('#btn_delete').click(function (e) {
            deleteSubmit();
        });

        function deleteSubmit() {
            var a = $('#table').bootstrapTable('getSelections');
            if (a.length != 1) {
                toastr.warning("请选择一条记录");
            } else {
                swal({
                    title: '确认信息',
                    text: "要删除选中的项目类型吗?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: '是的，删除它',
                    cancelButtonText: '取消'
                }).then(function (isConfirm) {
                    if (isConfirm.value) {
                        $.ajax({
                            type: "post",
                            url: "removePt/" + a[0].id,
                            success: function (data, status) {
                                if (status == "success") {
                                    toastr.success('删除成功');
                                    $('#table').bootstrapTable('refresh', {url: 'ptlistJson'});
                                }
                            }, error: function () {
                                alert(status)
                                toastr.error('删除失败');
                                $('#table').bootstrapTable('refresh', {url: 'ptlistJson'});
                            }, complete: function () {
                            }
                        });
                    }
                });
            }
        };

        $('#btn_edit').click(function (e) {
            var a = $('#table').bootstrapTable('getSelections');
            if (a.length != 1) {
                toastr.warning("请选择一条记录");
            } else {
                $('#add_edit_Modal').modal('show');
                $('#id').val(a[0].id);
                $('#number').val(a[0].number);
                $('#name').val(a[0].name);
            }
        });

        $('#add_edit_Modal').on('hidden.bs.modal', function () {
            $('#prdTypeForm').data("bootstrapValidator").resetForm(true);
        });

        $('#prdTypeForm').bootstrapValidator({
            message: '输入值无效！',
            feedbackIcons: {
                /*input状态样式图片*/
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                v_number: {
                    validators: {
                        notEmpty: {
                            message: '项目类型编码不能为空'
                        }
                    }
                },
                v_name: {
                    validators: {
                        notEmpty: {
                            message: '项目类型名称不能为空'
                        }
                    }
                }
            }
        }).on('success.form.bv', function (e) {
            e.preventDefault();
            //提交逻辑
            $.ajax({
                type: "post",
                url: "addPt",
                data: JSON.stringify({
                    'id': $('#id').val(),
                    'number': $('#number').val(),
                    'name': $('#name').val()
                }),
                dataType: 'JSON',
                contentType: 'application/json;charset=UTF-8',
                success: function (data, status) {
                    if (status == "success") {
                        toastr.success('提交数据成功');
                        $('#table').bootstrapTable('refresh', {url: 'ptlistJson'});
                    }
                }, error: function () {
                    toastr.error('保存失败');
                }, complete: function () {
                    $('#add_edit_Modal').modal('hide');
                }
            });
        });
    });
</script>
</body>
</html>