<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">访问model</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-6">
                <form id="ptlistform" th:method="get" th:action="@{sys/ptManager}">
                    <button class="btn btn-success" type="submit">基础数据-项目</button>
                </form>
            </div>
            <div class="col-xs-6">
                <form id="ptlistJsonform" th:method="post" th:action="@{sys/ptlistJson}">
                    <button class="btn btn-success" type="submit">项目类型列表Json</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript" th:src="@{bootstrap/jquery.min.js}"></script>
<script th:src="@{bootstrap/js/bootstrap.min.js}"/>

</html>