<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap-table/bootstrap-table.css}" rel="stylesheet"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>测试页面</title>
</head>
<body>

<div class="container">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-th-list"></span> 项目类型表</h3>
        </div>
        <div class="panel-body">
            <table id="PTypeTable" class="table"></table>
        </div>
        <div class="panel-footer">
            测试页面
        </div>
    </div>
</div>


<script th:src="@{/bootstrap/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/bootstrap-table/bootstrap-table.min.js}"></script>
<script type="text/javascript">
    $(function () {
        $("#PTypeTable").bootstrapTable({
            method: "post",
            url: "sys/ptlistJson",
            columns: [

                {
                    field: '',
                    checkbox: true,
                }, {
                    title: 'Id',
                    field: 'Id',
                }, {
                    title: '角色',
                    field: 'name',
                }, {
                    field: 'operate1',
                    title: '操作',
                    align: 'center',
                    events: 'operateEvents',
                    formatter: operateFormatter
                }
            ]

        });

        function operateFormatter(value, row, index) {
            return [
                '<button type="button" class="RoleOfA btn btn-default  btn-sm" style="margin-right:15px;">A权限</button>',
                '<button type="button" class="RoleOfB btn btn-default  btn-sm" style="margin-right:15px;">B权限</button>',
                '<button type="button" class="RoleOfC btn btn-default  btn-sm" style="margin-right:15px;">C权限</button>',
                '<button type="button" class="RoleOfD btn btn-default  btn-sm" style="margin-right:15px;">绑定D</button>',
                '<button type="button" class="RoleOfEdit btn btn-default  btn-sm" style="margin-right:15px;">编辑</button>'
            ].join('');
        }

        window.operateEvents = {
            'click .RoleOfA': function (e, value, row, index) {
                alert("A");
            },
            'click .RoleOfB': function (e, value, row, index) {
                alert("B");
            },
            'click .RoleOfC': function (e, value, row, index) {
                alert("C");
            },
            'click .RoleOfEdit': function (e, value, row, index) {
                alert("编辑");
            }
        }
    });

</script>
</body>
</html>